body{
    font-family: Manrope;
    color: #363636;
}
h1,h2,h3,h4{
    font-family: 'Alegreya';
}
.color-72{
    color: #7289A0;
}
.color-fb{
    color: #FBF7F7;
}
.dark-blue{
    color: #1F3040;
}
.color-D47{
    color: #D47C14;
}
.bg-57{
    background-color: #D57C14;
}
.bg-36{
    background-color: #363636;
}
.w_23{
    width: 23%;
}
.w_30{
  width: 30%;
}
.size-64{
    font-size: 64px;
}
.big-text{
    text-transform: uppercase;
}
.bord-bot{
    border-bottom: 2px solid #1F3040;
}
.link-style{
  border-bottom: 2px solid #D57C14; 
  color: #D47C14;
}
.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 9px 15px;
    color: #373737;
    background-color: #FBFBFB;
    z-index: 1;
 }
 .btn-style{
    background-color:  #7289A0;
 }
 .vk::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/vk.svg);
    top: 0;
    left: 0;
 }
 .tg::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/tg.svg);
    top: 0;
    left: 0;
 }
 .ok::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/OK.svg);
    top: 0;
    left: 0;
 }
 .text-32{
    font-size: 32px;
 }
 .pin::before{
    content: '';
    position: absolute;
    width: 9px;
    height: 13px;
    background-image: url(../img/pin.svg);
    top: 5px;
    left: 0;
 }
 .blocks{
    background: #1F3040;
    width: 64px;
    height: 64px;
 }
 .text {
    max-width: 700px;
    margin: 0 0 30px;
    border-radius: 5px;
    padding: 7px 15px;
    box-sizing: border-box;
  }
  
  .tabs {
    margin: 0 0 30px;
  }
  .tabs__caption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
  }
  .tabs__caption li:last-child:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -2px;
    z-index: -1;
    height: 5px;
  }
  .tabs__caption:after {
    content: '';
    display: table;
    clear: both;
  }
  .tabs__caption li {
    padding: 24px 0;
    margin: 1px 0 0 1px;
    position: relative;
  }
  .tabs__caption li:not(.active) {
    cursor: pointer;
    margin-left: 3rem;
  }
  .tabs__caption .active {
    color: #D47C14;
    margin-left: 0px;
  }
  .tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
  }
  .tabs__content {
    display: none;
    padding: 7px 15px;
  }
  .tabs__content.active {
    display: block;
  }
  
  .vertical .tabs__caption {
    float: left;
    display: block;
  }
  .vertical .tabs__caption li {
    float: none;
  }
  .vertical .tabs__caption li:last-child:before {
    display: none;
  }
  .vertical .tabs__caption .active:after {
    left: auto;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    height: auto;
  }
  .vertical .tabs__content {
    overflow: hidden;
  }
  
  @media screen and (max-width: 650px) {
    .tabs__caption li {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }
    .vertical .tabs__caption {
      float: none;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .vertical .tabs__caption li {
      border-width: 2px 2px 0;
      border-radius: 5px 5px 0 0;
    }
    .vertical .tabs__caption li:last-child:before {
      display: block;
    }
    .vertical .tabs__caption .active:after {
      top: auto;
      bottom: -5px;
      left: 0;
      right: 0;
      width: auto;
      height: 5px;
    }
  }
  .acc-container {
    padding-top: 4rem;
  }
  
  .acc {
    margin-bottom: 10px;
  }
  
  .acc-head {
    padding: 15px 10px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
   }
  
   .acc-head::before,
   .acc-head::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #7289A0;
    transition: all .3s;
   }

   .acc-head.active::before,
   .acc-head.active::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #D47C14;
    transition: all .3s;
   }
  
   .acc-head::before {
    right: 30px;
    width: 3px;
    height: 20px;
    margin-top: -10px;
  }
  
  .acc-head::after {
    right: 21px;
    width: 20px;
    height: 3px;
    margin-top: -2px;
  }
  
  .acc-head p {
    font-weight: 500;
    font-family: Alegreya;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .acc-content {
    padding: 15px 10px;
    display: none;
  }
          
  .acc-head.active::before {
      transform: rotate(90deg);
  }
  .acc-head:not(.active) {
    color: #7289A0;
    cursor: pointer;
  }
  .acc-head.active {
    color: #D47C14;
  }