@font-face {
    font-family: 'alegreya_sansblack';
    src: url('alegreyasans-black-webfont.woff2') format('woff2'),
         url('alegreyasans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansblack_italic';
    src: url('alegreyasans-blackitalic-webfont.woff2') format('woff2'),
         url('alegreyasans-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansbold';
    src: url('alegreyasans-bold-webfont.woff2') format('woff2'),
         url('alegreyasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansbold_italic';
    src: url('alegreyasans-bolditalic-webfont.woff2') format('woff2'),
         url('alegreyasans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansextrabold';
    src: url('alegreyasans-extrabold-webfont.woff2') format('woff2'),
         url('alegreyasans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansextrabold_italic';
    src: url('alegreyasans-extrabolditalic-webfont.woff2') format('woff2'),
         url('alegreyasans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansitalic';
    src: url('alegreyasans-italic-webfont.woff2') format('woff2'),
         url('alegreyasans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sanslight';
    src: url('alegreyasans-light-webfont.woff2') format('woff2'),
         url('alegreyasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sanslight_italic';
    src: url('alegreyasans-lightitalic-webfont.woff2') format('woff2'),
         url('alegreyasans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansmedium';
    src: url('alegreyasans-medium-webfont.woff2') format('woff2'),
         url('alegreyasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansmedium_italic';
    src: url('alegreyasans-mediumitalic-webfont.woff2') format('woff2'),
         url('alegreyasans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansregular';
    src: url('alegreyasans-regular-webfont.woff2') format('woff2'),
         url('alegreyasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: Manrope;
    color: #363636;
}
h1,h2,h3,h4{
    font-family: 'Alegreya';
}
.color-72{
    color: #7289A0;
}
.color-fb{
    color: #FBF7F7;
}
.bg-36{
    background-color: #363636;
}
.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 9px 15px;
    color: #373737;
    background-color: #FBFBFB;
    z-index: 1;
 }
 .btn-style{
    background-color:  #7289A0;
 }
 .vk::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/vk.svg);
    top: 0;
    left: 0;
 }
 .tg::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/tg.svg);
    top: 0;
    left: 0;
 }
 .ok::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/OK.svg);
    top: 0;
    left: 0;
 }
 .text-32{
    font-size: 32px;
 }
 .pin::before{
    content: '';
    position: absolute;
    width: 9px;
    height: 13px;
    background-image: url(../img/pin.svg);
    top: 5px;
    left: 0;
 }