body{
    font-family: Manrope;
    color: #363636;
}
h1,h2,h3,h4{
    font-family: 'Alegreya';
}
.color-72{
    color: #7289A0;
}
.color-fb{
    color: #FBF7F7;
}
.dark-blue{
    color: #1F3040;
}
.bg-57{
    background-color: #D57C14;
}
.bg-36{
    background-color: #363636;
}
.w_23{
    width: 23%;
}
.size-64{
    font-size: 64px;
}
.big-text{
    text-transform: uppercase;
}
.bord-bot{
    border-bottom: 2px solid #1F3040;
}
.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 9px 15px;
    color: #373737;
    background-color: #FBFBFB;
    z-index: 1;
 }
 .btn-style{
    background-color:  #7289A0;
 }
 .vk::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/vk.svg);
    top: 0;
    left: 0;
 }
 .tg::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/tg.svg);
    top: 0;
    left: 0;
 }
 .ok::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/OK.svg);
    top: 0;
    left: 0;
 }
 .text-32{
    font-size: 32px;
 }
 .pin::before{
    content: '';
    position: absolute;
    width: 9px;
    height: 13px;
    background-image: url(../img/pin.svg);
    top: 5px;
    left: 0;
 }
 .blocks{
    background: #1F3040;
    width: 64px;
    height: 64px;
 }